// Application Styles
.title, .footer {
	width: 100%;
	text-align: center;
}

.created-at {
	text-align: right;
	color: #ccc;
	font-style: italic;
}

.settings-container {
  background: #fff;
  position: absolute;
  right: 10px;
  border: 2px solid black;
  padding: 10px;
  min-width: 300px;
}

.setting-title {
  &:hover {
    cursor: pointer
  }
}
.setting-group {
  &.hidden {
    display: none;
  }
}

body {
  margin: 0 0 0 10mm !important;
}

@media print {
  body {
    margin: 0 !important;
  }
  .settings-container {
    display: none;
  }
  .manuscript-paper-app {
    overflow: hidden;
  }
}